<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-6">
		<form action="{{ @BASE.'/flow/create' }}" method="post">

			<div class="form-group">
			    <div class="input-group">
			        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i> Дата</span>
			        <input type="text" id="date" name="date" value="{{@timestamp}}" class="form-control datepicker" />
			    </div>
			</div>
		    <div class="form-group">
			    <div class="input-group">
			        <span class="input-group-addon input-group-addon-area"><i class="glyphicon glyphicon-pencil"></i> Комментарий</span>
					<textarea row="5"  id="comment" name="comment" class="form-control"></textarea>
			    </div>
		    </div>
			<div class="form-group">
			    <div class="input-group">
			        <span class="input-group-addon"><i class="glyphicon glyphicon-plus"></i> Сумма</span>
			        <input type="text" id="sum" name="sum" value="" class="form-control" />
			    </div>
			</div>
			<div class="form-group">
			    <div class="input-group">
			        <span class="input-group-addon"><i class="glyphicon glyphicon-euro"></i> Валюта</span>
					<select class="form-control" id="currency_id" name="currency_id">
						<repeat group="{{@currencies->all()}}" value="{{ @cat }}">
							<option <check if="{{ @cat.id == 2 }}">selected="selected"</check> value="{{ @cat.id }}">{{ @cat.name }}</option>							
						</repeat>
					</select>
			    </div>
			</div>
			<div class="form-group">
			    <div class="input-group">
			        <span class="input-group-addon"><i class="glyphicon glyphicon-list-alt"></i> Категория</span>
					<select class="form-control" id="category_id" name="category_id">
						<repeat group="{{@categories->all( isset($_GET['type'] ) ? $_GET['type'] : false )}}"  value="{{ @cat }}">
							<option value="{{ @cat.id }}">{{ @cat.name }}</option>							
						</repeat>
					</select>
			    </div>
			</div>
			<div class="form-group">
			    <div class="input-group">
			        <span class="input-group-addon "><i class="glyphicon glyphicon-briefcase"></i> Кошелек</span>
					<select class="form-control" id="wallet_id" name="wallet_id">
						<repeat group="{{@wallets->all()}}"  value="{{ @cat }}">
							<option value="{{ @cat.id }}">{{ @cat.name }}</option>							
						</repeat>
					</select>
			    </div>
			</div>

			<div class="form-group">
			    <div class="input-group">
			        <span class="input-group-addon "><i class="glyphicon glyphicon-briefcase"></i> Период</span>
					<select class="form-control" id="period_id" name="period_id">
						<repeat group="{{@periods->all()}}"  value="{{ @cat }}">
							<option <check if="{{ @cat.id == 11 }}">selected="selected"</check> value="{{ @cat.id }}">{{ @cat.name }}</option>							
						</repeat>
					</select>
			    </div>
			</div>
		    <!-- 
			<div class="form-group">	
				<div class="input-group">
		        <span class="input-group-addon "><i class="icon-home icon-black"></i> Аккаунт</span> -->
		        <input type="hidden" id="account_id" name="account_id" value="1" class="form-control" />
		    <!-- </div>
			</div> -->
				
				
				
	        <input type="hidden" id="type" name="type" value="{{($_GET['type'] == 'in') ? '1' : '0' }}" class="form-control" />
			<div class="form-group">
			    <div class="control-group">
			        <div class="">
			            <input type="hidden" name="create" value="create" />
			            <button type="submit" class="btn btn-primary"><i class="icon-ok icon-white"></i> Добавить <check if="{{htmlspecialchars($_GET['type']) == 'in' }}"><true>доход</true><false>расход</false></check></button>
			        </div>
			    </div>
			</div>
		</form>
	</div>
	<div class="col-md-3"></div>
</div>		


<!-- 
old checks
isset($_GET['type'] ) ? $_GET['type'] : false
($_GET['type'] == 'in') ? '1' : '0' 
-->